/*
 *	$Id: Rules,v 1.3 1992-09-21 22:15:05 ncargd Exp $
 */
/* 
   This file contains Makefile macros.  Proper spacing is achieved
   through the use of the right square brackets, which are later expanded
   into appropriate newlines and tabs by "ymake-filter".
*/

#define FRule\
]\
.F.f:]\
	@$(FCPP) $< $*.f]

#define UpdateTarget\
]\
Update:]\
	@echo "Updating <$(MYNAME)> from Generic NCAR Graphics"]\
	@-$(RM) $(GENERIC_SRCS) $(GENERIC_OBJS)]\
	@echo "	File listing after removing old generics"]\
	@ls]\
	@echo "	Splitting Fortran source"]\
	@$(FSPLIT) $(NCARG)/generic/$(MYNAME)/src \]\
	| makemacro >FileList; $(RM) generic.f]\
	@if (test -x Generic2Unix) then \]\
	echo "	Applying local modifications"; Generic2Unix; fi]

#define UpdateNoSplitTarget\
]\
Update:]\
	@echo "Updating <$(MYNAME)> from Generic NCAR Graphics"]\
	@-$(RM) $(GENERIC_SRCS) $(GENERIC_OBJS)]\
	@echo "	File listing after removing old generics"]\
	@ls]\
	@echo " Copying Generic source"]\
	@$(CP) $(NCARG)/generic/$(MYNAME)/src $(MYNAME).f]\
	@chmod 644 $(MYNAME).f]\
	@if (test -x Generic2Unix) then \]\
	echo "	Applying local modifications"; Generic2Unix; fi]

#define MakefileTarget\
]\
Makefiles:: local-Makefile]\
]\
local-Makefile:]\
	@$(YMAKE)]

/* install at 'install' time	*/
#define InstallTarget(names, mode, dest)\
]\
install:: names]\
	@for name in names; do\]\
	($(INSTALL) -m mode $$name dest);\]\
	done]

/* install at 'all' time	*/
#define InstallAllTarget(names, mode, dest)\
]\
all:: names]\
	@for name in names; do\]\
	($(INSTALL) -m mode $$name dest);\]\
	done]


/* Macros for directory managers. */

#define MakeSubdirs(dirs)\
]\
all::]\
	@for dir in dirs ; do\]\
	(cd $$dir; echo "Making $$dir";\]\
	$(MAKE) $(MFLAGS));\]\
	done]

#define CleanSubdirs(dirs)\
]\
clean::]\
	@for dir in dirs ; do\]\
	(cd $$dir; echo "Cleaning in $$dir";\]\
	$(MAKE) clean $(MFLAGS));\]\
	done]


#define RebuildSubdirs(library,dirs)\
]\
rebuild::]\
	@-$(RM) $(LIBPATH)/library]\
	@for dir in dirs ; do\]\
	(cd $$dir; echo "Rebuilding $$dir"; $(MAKE) $(MFLAGS));\]\
	done]\
	@$(RANLIB) $(LIBPATH)/library]

#define InstallSubdirs(dirs)\
]\
install::]\
	@for dir in dirs ; do\]\
	(cd $$dir; echo "Installing $$dir";\]\
	$(MAKE) install $(MFLAGS));\]\
	done]

#define LibraryMakeSubdirs(library,dirs)\
]\
all::]\
	@-$(RM) $(LIBPATH)/library]\
	@for dir in dirs ; do\]\
	(cd $$dir; echo "Making $$dir"; $(MAKE) $(MFLAGS));\]\
	done]\
	$(RANLIB) $(LIBPATH)/library]


#define MakefilesSubdirs(dirs)\
]\
MakefileTarget]\
]\
Makefiles::]\
	@for dir in dirs ; do\]\
	(cd $$dir; echo "Making Makefiles in $$dir";\]\
	$(MAKE) Makefiles $(MFLAGS));\]\
	done]


/*
 * tree leaf macros
 */
#define RelocatableTarget(name,objects)\
]\
all::	name]\
]\
name:	objects]\
	@$(LD_REL) -r -o name objects]\
]\
install::]\
	-$(INSTALL) -m $(INSTALL_LIB) name $(LIBPATH)]\
	@-$(RM) name]

#define FortranTarget(program,objects,libs)\
]\
program: objects]\
	$(F77_LD) $(LD_FFLAGS) -o program objects libs]\
]\
install:: program]\
	-$(INSTALL) -m $(INSTALL_BIN) program $(BINPATH)]\
	@-$(RM) program]\
]\
clean::]\
	@$(RM) program]

#define CTarget(program,objects,libs)\
]\
program: objects]\
	$(CC_LD) $(LD_CFLAGS) -o program objects libs]\
]\
install:: program]\
	-$(INSTALL) -m $(INSTALL_BIN) program $(BINPATH)]\
	@-$(RM) program]\
]\
clean::]\
	@-$(RM) program]


#define LibraryTarget(library,objects)\
]\
all:: objects]\
	@-$(RM) $(LIBPATH)/library]\
	@$(AR_QUICK) $(LIBPATH)/library objects]\
	$(RANLIB) $(LIBPATH)/library]\
]\
install::]

#define PartialLibraryTarget(library,objects)\
]\
all:: objects]\
	@$(AR_QUICK) $(LIBPATH)/library objects]\
]\
install:: objects]\
	@$(AR_CHECK) $(LIBPATH)/library objects]\
	$(RANLIB) $(LIBPATH)/library]

#define CleanTarget\
]\
clean::]\
	@-$(RM) *.o core]

#define FortranProgramLeaf(program,objects,libs)\
FortranTarget(program,objects,libs)		\
MakefileTarget					\
CleanTarget


/* Manage a directory that contributes part of a library */

#define PartialLibrary(library,objects)		\
PartialLibraryTarget(library,objects)		\
MakefileTarget					\
CleanTarget					\
UpdateTarget

/* Manage a directory that builds a library */

#define Library(library,objects)		\
LibraryTarget(library,objects)			\
MakefileTarget					\
CleanTarget

/* Root directory above 2 or more partial library directories */

#define PartialLibraryRoot(library,dirs)	\
LibraryMakeSubdirs(library,dirs)		\
MakefilesSubdirs(dirs)				\
CleanSubdirs(dirs)				\
]\
install::]


/* A directory that contains a bunch of object files that need
   to be combined for ld inclusion before a library with
   duplicate names. (sigh). */

#define RelocatableObject(name,objects)		\
RelocatableTarget(name,objects)			\
MakefileTarget					\
CleanTarget					\
UpdateTarget

#define RelocatableObjectRoot(dirs)		\
MakeSubdirs(dirs)				\
MakefilesSubdirs(dirs)				\
InstallSubdirs(dirs)				\
CleanSubdirs(dirs)
